/* App.css */
.smooth-scroll {
    height: 100%;
    overflow: hidden; /* Prevent default scrollbars */
    position: relative;
  }
  

  
  /* Optional: Parallax effect on scrolling */
  [data-scroll] {
    will-change: transform;
  }
  
  /* [data-scroll-speed] {
    transition: transform 0.5s ease-out;
  }
   */